/* The Overlay (background) */
.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.8);
    overflow-x: hidden;
    text-align: center;
    vertical-align: middle;
}

.overlay .closebtn {
    position: absolute;
    top: -20px;
    right: 20px;
    font-size: 70px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #A1A1A1;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.hidden-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0);
    overflow-x: hidden;
}

.overlay-content{
    z-index: 5;
    margin: auto;
    margin-top: 35vh;
    width: 40%;
    height: 18vh;
    background-color: rgb(255,255,255);
    border-radius: 15px;
}

div.usage-header{
    z-index: 7;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid rgb(220, 220, 220);
    background-color: rgb(241, 242, 243);
}

.usage-content{
    z-index: 8;
    display: flex;
    text-align: left;
    width: 90%;
    padding-left: 10px;
}

.usage-header div{
    z-index: 8;
}

.usage-code{
    z-index: 9;    
    width: 90%;
}

.usage-code  pre code{
    z-index: 9;
    margin-top: -3%;
    background-color: transparent !important;
    white-space:pre-line;
}

.usage-copy{
    z-index: 10;
    display: inline-block;;
    padding-top: 10px;
    width: 10%;
}

.usage-copy button#copy-button {
    z-index: 10;
    margin: 10px;
    height: 40px;
}

.usage-copy button#copy-button:focus {
    color: white;
}

.usage-copy div#copy-text{
    text-align: center;
    margin-top: -8px;
    font-weight: bold;
    margin-left: 12px;
    color: cornflowerblue;
}